.App {
  display: grid;
  grid-template-columns: 1fr 0.7fr;
  grid-template-rows: 0.2fr 1.5fr 1fr 1fr;
  gap: 12px 18px;
  grid-template-areas:
    "input empty"
    "current sevenDays"
    "todaysForecast sevenDays" "airConditions sevenDays";

  margin: 2rem 4rem;
  min-height: 90vh;
}
