.currentForecast,
.airConditions,
.fiveDaysForecast,
.todaysForecast {
  background-color: $color-white-secondary;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}

.currentForecast {
  background-color: $color-white;
  grid-area: current;
}

.airConditions {
  grid-area: airConditions;
}

.fiveDaysForecast {
  grid-area: sevenDays;
}

.todaysForecast {
  grid-area: todaysForecast;
}
