.currentWeather {
  height: 100%;
  display: flex;
  justify-content: space-between;
  color: #333;
  padding: 0.5rem 1.5rem;
}

.weather-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5rem;
}

.location {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__name {
    font-size: 2.5rem;
  }

  &__climate-description {
    font-size: 1rem;
    color: #999;
    font-weight: 400;
  }
}

.temperature {
  font-size: 3rem;
}

.weather-image {
  display: flex;
  align-items: center;

  img {
    height: 9rem;
  }
}

@media (max-width: 500px) {
  .weather-image {
    img {
      height: 7rem;
    }
  }
}
