.five-days-forecast {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  padding: 1.5rem 2rem;

  h3 {
    font-size: 1rem;
    color: #888;
    text-transform: uppercase;
  }
}

.five-days-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.days {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;

  h4 {
    font-size: 1.1rem;
    color: #999;
  }

  .description-container {
    display: flex;
    align-items: center;

    p {
      color: #333;
      font-weight: 700;
      font-size: 1.1rem;
    }

    img {
      height: 6rem;
    }
  }

  .temperature {
    font-size: 2rem;
    color: #333;
    font-weight: 700;
  }
}

@media (max-width: 1320px) {
  .days {
    h4 {
      font-size: 1rem;
    }
  }
  .days {
    .temperature {
      font-size: 1.7rem;
    }

    .description-container {
      img {
        height: 5rem;
      }
    }
  }
}

@media (max-width: 764px) {
  .five-days-container {
    gap: 1rem;
  }
}

@media (max-width: 500px) {
  .five-days-forecast {
    padding: 1.5rem 1rem;

    h3 {
      font-size: 0.75rem;
    }
  }

  .days {
    h4 {
      font-size: 0.7rem;
    }
  }

  .days {
    .temperature {
      font-size: 1.2rem;
    }

    .description-container {
      p {
        font-size: 0.7rem;
      }
      img {
        height: 3rem;
      }
    }
  }
}
