.input {
  background-color: $color-white-secondary;
  color: $color-gray-dark;
  height: 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  padding: 2rem 0rem 2rem 1.5rem;
  width: 100%;
  grid-area: input;
  border: none;
  border-radius: 0.5rem;
  outline: none;

  &::placeholder {
    opacity: 0.7;
  }
}
